<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3  class="section-heading">Konsept</h3>
                    <p class="section-subheading text-muted">Vet du at ett av fire barn sitter for mye stille? <br>
					Fra 9 til 15 år halverer barn tiden de bruker på fysisk aktivitet.<br>
					Vi tror at barn kan motiveres til å være mer i bevegelse og samtidig skape langvarig bevegelsesglede.<br>
					Nysgjerrig? Se filmen.</p> <br>
					
					<video controls="controls" poster="http://www.mihigames.com/img/video-poster.png"  onclick="this.play();" width="600" height="400" name="Video Name" src="http://www.mihigames.com/ani/MihiEdit_Delivery.mov">Your browser does not support the video tag.</video>
					
		



					<!-- <embed src="http://www.mihigames.com/ani/MihiEdit_Delivery.mov" Pluginspage="http://www.apple.com/quicktime/" width="550" height="339" CONTROLLER="true" LOOP="false" AUTOPLAY="false" name="Mihigames"></embed> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted" id="empatistudier">
                            <div class="timeline-image">
							<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
								</a>
                            </div>
                            <div   class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>
									<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
									Empati</a>
									</h3>
                                    <h5 class="subheading">Mars - juni 2015</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Basert på en kartlegging av interessenter ble det gjennomført en rekke intervjuer av barn, ungdommer, lærer, helsepersonell, utviklere av spill og eksperter på ernæring og fysisk aktivitet. Medlemmer av prosjektgruppen deltok på aktiviteter og satt seg i barns situasjoner for å erfare deres hverdag.
Fasen gav prosjektet viktige data, erfaringer og innblikk i barns hverdag som ble avgjørende for å definere det videre arbeid.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline" id="idemyldring">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Idemyldring</h3>
                                    <h5 class="subheading">Juli - august 2015</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Fra nyvunnet viten om barns behov og innsikt i deres hverdag skapte vi en fiktiv bruker – Ronja 9år, et barn i faresonen for å utvikle et stillesittende liv.
Med denne personen i tankene kom en rekke ulike ideer om hva som kunne motivere et barn til å finne glede i å være i bevegelse.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted" id="prototype">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Prototyping</h3>
                                    <h5 class="subheading">August - oktober 2015</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Veien fra idè til produkt begynner med enkle prototyper. Med utgangspunkt i input fra empatistudiene begynte vi å lage prototyper av Lego, tennisballer og kartong.
Ideen og enkle prototyper ble presentert for barn i målgruppen. Elementer som konkurranse, personlig utforming og tilleggsfunksjoner i nettbaserte tjenester ble testet ut på en større gruppe.</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Vær med
									<br>oss
                                    <br>videre!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>