<!-- About Section -->
    <section id="om">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3  class="section-heading">Om prosjektet</h3><br>
                    <p class="section-subheading text-muted">Prosjektet er drevet frem av 5 personer som ønsker seg innsikt og kompetanse innen Design Thinking. Prosjektteam i Design Thinking skal være satt sammen av medlemmer med tverrfaglig kompetanse. Vårt team har hatt kompetanse innen design, økonomi, teknologi, marked, ledelse, kommunikasjon og spillutvikling.</p>
					<br>
					<a href="#portfolioModal4" class="page-scroll btn btn-xl portfolio-link" data-toggle="modal">Les mer</a>
					<!-- <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal"> -->
									<!-- Prototyping</a> -->
                </div>
        </div>
    </section>