<!-- About Section -->
    <section id="om">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3  class="section-heading">Om prosjektet</h3><br>
                    <p class="section-subheading text-muted">Prosjektet er drevet frem av 5 personer som ønsker seg innsikt og kompetanse innen Design Thinking. Prosjektteam i Design Thinking skal være satt sammen av medlemmer med tverrfaglig kompetanse. Vårt team har hatt kompetanse innen design, økonomi, teknologi, marked, ledelse, kommunikasjon og spillutvikling. <br> <br>
					Nasjonalt senter for mat, helse og fysisk aktivitet er arkitekten bak vår utfordring: Kan app- og spillteknologi være en nøkkel til å redusere stillesitting og overvekt blant barn og unge? <br><br>
					
					
					Denne utfordrende og aktuelle problemstillingen har fulgt teamet i 10 måneder, og har gitt oss alle de utfordringer som trengs for å lære prosessene i Design Thinking. Design Thinking retter stor oppmerksomhet på empati for sluttbrukeren. Dette fokuset har gitt oss innsikt og perspektiv som grunnlag for idemyldring og utprøving av ideer. Takket være nye synspunkter og synsvinkler har teamet i løpet av studiet klart å komme frem til en prototype som møter barna på deres egen arena. Uten Design Thinking ville prototypen blitt annerledes - et konsept utviklet ved fokus på teknologi, og tematikken overvekt og fysisk aktivitet blant barn fra et perspektiv basert på teamets egne antagelser og erfaring. <br><br>Studiet er et videreutdanningsprogram (pilotstudie) utviklet og gjennomført av DesignArena, Norges Handelshøyskole (NHH), Kunst- og designhøgskolen i Bergen (KHiB), Høgskolen i Bergen (HiB) og Design Region Bergen.</p>
					<br>
					<a href="#om" class="page-scroll btn btn-xl">Les mer</a>
                </div>
        </div>
    </section>