<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
	
	{% comment %}
    {% include services.html %}
		
	
	{% include empatistudier.html %} 
	{% include idemyldring.html %} 
	{% include prototype.html %} 
	{% include portfolio_grid.html %}
	
    
	{% endcomment %}
	
	
    {% include about_mihi.html %}
	
    
    {% include team.html %}
	
	{% comment %}
	{% include om_mihi.html %}
	{% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
	{% endcomment %}
	
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>